frame {
    border: 1 solid gray;
}

body {
    font-family: Arial Monospaced, Courier New;
    font-size: 13px;
    background-color: #0000FF;
    color: #CCCCCC;
    display: inline;

}

.main {
    font-family: Arial Monospaced, Courier New;
	background-color: #000080;
    color: #CCCCCC;
    display: inline;
	margin: 0;
}

.reversed {
	background-color: #CCCCCC;
 	color: #0000FF;
}

.debug {
    font-family: Arial Monospaced, Courier New;
	color: black;
    display: inline;
}

body.navigation {
    color: #CCCCCC;
    background-color: #000080;
    padding: 0;
    margin: 0;
}

div {
    font-family: Arial Monospaced, Courier New;
	white-space: pre;
    display: inline;
}

div.bold {
    font-family: Arial Monospaced, Courier New;
	font-weight: bold;
 	color: #CCCCCC;
}


div.underlineNew {
	border-top: 1px solid gray;
}

div.secure {
	background-color: black;
	color: gray;
}
div.blinking {
	color: red;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

a:visited {
    color: #808080;
}

a:link {
    color: #CCCCCC;
}

.Action_button {
    font-family: Arial Monospaced, Courier New;
    font-size: 11px;
    width: 44;
    height: 17px;
}

input {
    font-family: Arial Monospaced, Courier New;
    font-size: 13px;
	vertical-align: top;
}

.output_cell1 {
    font-family: Arial Monospaced, Courier New;
    font-size: 13px;
    vertical-align: top;
    color: #FFFFFF;
    background-color: #000080;
}

.output_cell {
    font-family: Arial Monospaced, Courier New;
	vertical-align: top;
    /*color: #FFFFFF;*/
    border: thin;
    /* background-color: #000080; */
}

input.input_cell {
    font-family: Arial Monospaced, Courier New;
	vertical-align: top;
 	color: #CCCCCC;
    background-color: #000080;
    border: 1 solid gray;
    height: 17px;
    font-size: 13px;
}
input.input_cell_right {
    font-family: Arial Monospaced, Courier New;
	vertical-align: top;
    text-align: right;
 	color: #CCCCCC;
    background-color: #000080;
}
input.input_cell_reversed {
    font-family: Arial Monospaced, Courier New;
    color:  #0000FF;
	background-color: #CCCCCC;
	vertical-align: top;
	border-width: 1px;
	font-size: 13px;
    height: 17px; 
    border: 1 solid gray;
}

input.invisibleSubmit {
    font-family: Arial Monospaced, Courier New;
	color: #000080;
    vertical-align: bottom;
    background-color: transparent;
    border: none;
}

.menu {
    color: black;
    background-color: #000080;
}

.main_menu {
    color: black;
    background-color: #000080;
}

.menu P {
}

.menu a, a:visited, a:link {
    font-size: x-small;
    color: #CCCCCC;
}

.navigation.app {
    font-size: 100%;
}

.navigation.second-tier {
    font-size: 100%;
}

.navigation.third-tier {
    font-size: 80%;
}

.navigation table {
    background-color: #000080;
    padding: 0;
    margin: 0;
}


.popper
{
position : absolute;
visibility : hidden;
zIndex: 9999;
}


.input_cell {
    font-family: Arial Monospaced, Courier New;
	vertical-align: middle;
 	color: #CCCCCC;
 	height: 15px;
 	line-height: 100%;
 	padding: 0;
 	border: 1 thin gray;
}

.input_cell1 {
    font-family: Arial Monospaced, Courier New;
	vertical-align: middle;
 	color: #151515;
	width: 60%;
	border: 1 solid gray;
    height: 17px;
	font-size: 13px
}

.special_input_cell {
    color: #000080;
    background-color: #CCCCCC;
    font-family: Arial Monospaced, Courier New;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    vertical-align: top;
}

.text_label {
    font-family: Arial Monospaced, Courier New;
	text-align: right;
    vertical-align: top;
}

.error-heading {
    font-family: Arial Monospaced, Courier New;
}

.error {
    font-family: Arial Monospaced, Courier New;
}

.stacktrace {
    font-family: Arial Monospaced, Courier New;
}

.page_heading {
    color: #000080;
    background-color: #CCCCCC;
    padding: 4;
}

.inner_table {
    border: 2 #DDDDBD solid;
    vertical-align: top;
}

.inner_table td {
    vertical-align: top;
}



.inner_table tr {
    vertical-align: top;
}

.inner_table th {
    background-color: #000080;
    padding: 4;
}

.tinyInfo {
    vertical-align: top;
}

.tinyInfo {
    vertical-align: top;
    font-size: 9px;
}

.Error {
    color: red;
}

.Message {
    color: white;
}

.Warning {
    color: #CCCCCC;
}

.break {
    height: 12px;
}

.main_table {
    width: 100%;
}

.fab_button {
    cursor: hand;
}

img.edit_button {
    cursor: hand;
}

.integer_data {
    text-align: right;
}

.long_data {
    text-align: right;
}

.float_data {
    text-align: right;
}

.decimal_data {
    text-align: right;
}

.money_data {
    text-align: right;
}

.string_data {
    text-align: left;
}

.fixed_length_string_data {
    text-align: left;
}

.date_data {
    text-align: left;
}

.timestamp_date {
    text-align: left;
}

.cmenu              {position: absolute;
                 font-family: MS Sans Serif;
                 font-size: 12px;
                 background-color: menu;
                 color: menutext;
                 border: 4px threedhighlight outset;
                 cursor: default;
                 visibility: hidden;
                 line-height: 140%;}

.cvisibleMenu   {position: absolute;
                 font-family: MS Sans Serif;
                 font-size: 12px;
                 background-color: menu;
                 color: menutext;
                 border: 4px threedhighlight outset;
                 cursor: default;
                 visibility: visible;
                 line-height: 140%;}

.cmenuItem      {color: menutext;
                 background-color: menu;
                 padding-left: 12px;
                 padding-right: 17px;
                 text-decoration: none;}

.cmenuItemOver  {color: highlighttext;
                 background-color: highlight;
                 padding-left: 12px;
                 padding-right: 17px;
                 text-decoration: none;}

.cmenuItemOver A    {color: highlighttext;
                 background-color: highlight;
                 padding-left: 12px;
                 padding-right: 17px;
                 text-decoration: none;
                 cursor: default;}

.cmenuItem A        {color: menutext;
                 background-color: menu;
                 padding-left: 12px;
                 padding-right: 17px;
                 text-decoration: none;
                 cursor: default;}

.cmore          {font-family: WebDings;
                 text-align: right;
                 position: absolute;}

.fakelink               {color: blue;
                         text-decoration: underline;
                        }
.bold {
    font-family: Arial Monospaced, Courier New;
	font-weight: bold;
 	color: #CCCCCC;
}

.label {
    font-family: Arial Monospaced, Courier New;
    font-size: 13px;	
}

.pos {position: absolute; }

.x1 {left:1.2ex}
.x2 {left:2.4ex}
.x3 {left:3.6ex}
.x4 {left:4.8ex}
.x5 {left:6ex}
.x6 {left:7.2ex}
.x7 {left:8.4ex}
.x8 {left:9.6ex}
.x9 {left:10.8ex}
.x10 {left:12ex}
.x11 {left:13.2ex}
.x12 {left:14.4ex}
.x13 {left:15.6ex}
.x14 {left:16.8ex}
.x15 {left:18ex}
.x16 {left:19.2ex}
.x17 {left:20.4ex}
.x18 {left:21.6ex}
.x19 {left:22.8ex}
.x20 {left:24ex}
.x21 {left:25.2ex}
.x22 {left:26.4ex}
.x23 {left:27.6ex}
.x24 {left:28.8ex}
.x25 {left:30ex}
.x26 {left:31.2ex}
.x27 {left:32.4ex}
.x28 {left:33.6ex}
.x29 {left:34.8ex}
.x30 {left:36ex}
.x31 {left:37.2ex}
.x32 {left:38.4ex}
.x33 {left:39.6ex}
.x34 {left:40.8ex}
.x35 {left:42ex}
.x36 {left:43.2ex}
.x37 {left:44.4ex}
.x38 {left:45.6ex}
.x39 {left:46.8ex}
.x40 {left:48ex}
.x41 {left:49.2ex}
.x42 {left:50.4ex}
.x43 {left:51.6ex}
.x44 {left:52.8ex}
.x45 {left:54ex}
.x46 {left:55.2ex}
.x47 {left:56.4ex}
.x48 {left:57.6ex}
.x49 {left:58.8ex}
.x50 {left:60ex}
.x51 {left:61.2ex}
.x52 {left:62.4ex}
.x53 {left:63.6ex}
.x54 {left:64.8ex}
.x55 {left:66ex}
.x56 {left:67.2ex}
.x57 {left:68.4ex}
.x58 {left:69.6ex}
.x59 {left:70.8ex}
.x60 {left:72ex}
.x61 {left:73.2ex}
.x62 {left:74.4ex}
.x63 {left:75.6ex}
.x64 {left:76.8ex}
.x65 {left:78ex}
.x66 {left:79.2ex}
.x67 {left:80.4ex}
.x68 {left:81.6ex}
.x69 {left:82.8ex}
.x70 {left:84ex}
.x71 {left:85.2ex}
.x72 {left:86.4ex}
.x73 {left:87.6ex}
.x74 {left:88.8ex}
.x75 {left:90ex}
.x76 {left:91.2ex}
.x77 {left:92.4ex}
.x78 {left:93.6ex}
.x79 {left:94.8ex}
.x80 {left:96ex}

.y1 {top:0em}
.y2 {top:1.4em}
.y3 {top:2.8em}
.y4 {top:4.2em}
.y5 {top:5.6em}
.y6 {top:7em}
.y7 {top:8.4em}
.y8 {top:9.8em}
.y9 {top:11.2em}
.y10 {top:12.6em}
.y11 {top:14em}
.y12 {top:15.4em}
.y13 {top:16.8em}
.y14 {top:18.2em}
.y15 {top:19.6em}
.y16 {top:21em}
.y17 {top:22.4em}
.y18 {top:23.8em}
.y19 {top:25.2em}
.y20 {top:26.6em}
.y21 {top:28em}
.y22 {top:29.4em}
.y23 {top:30.8em}
.y24 {top:32.2em}
.y25 {top:33.6em}
.y26 {top:35em}
.y27 {top:36.4em}
.y28 {top:37.8em}
.y29 {top:39.2em}
.y30 {top:40.6em}
.y31 {top:42em}
.y32 {top:43.4em}
.y33 {top:44.8em}

.z-1{z-index:1}
.z-2{z-index:2}
.z-3{z-index:3}

.w-100{width: 100%}

textarea.notes {
	font-size: 100%;
	color: #CCCCCC;
	background-color: #000080;
	overflow: hidden;
	font-family: Arial Monospaced, Courier New;
	cols: 16;
	height: 290px;
	width: 532px;
	padding: 0px;
	margin: 0px;
    line-height: 18px;
}

textarea.diary {
	font-size: 100%;
	color: #CCCCCC;
	background-color: #000080;
	overflow: hidden;
	font-family: Arial Monospaced, Courier New;
	cols: 7;
	height: 109px;
	width: 607px;
	padding: 0px;
	margin: 0px;
    line-height: 15.6px;
}

iframe.mainFrame3 {
	height: 420px;
	padding: 0px;
	margin: 0px;
}

iframe.mainFrame {
	height: 420px;
	padding: 0px;
	margin: 0px;
}
iframe.message {
	height: 20px;
	padding: 0px;
	margin: 0px;
}
